---
import { cn } from '@/utils'
const { as: Tag = 'a', class: className, title, href, style, gold = false } = Astro.props
---

<style>
   .bg-gold {
    background-image: linear-gradient(135deg, #f6d72a, #FFA000);
    color: #3E2C00;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: background-image 0.3s ease, transform 0.2s ease;
  }

  .bg-gold:hover {
    background-image: linear-gradient(135deg, #fbcd36, #FF8F00);
    transform: translateY(-3px);
  }
</style>

<Tag
    class={cn(
        className,
        'inline-flex items-center gap-x-1 rounded-lg border border-border px-2 py-1 text-sm transition-all hover:bg-input text-gold',
        !href && 'cursor-default',
        style === 'pill' && 'rounded-xl',
				gold && 'bg-gold'
    )}
    href={href}
    data-astro-prefetch
>
    <slot name='icon-before' />
    <p>{title}</p>
    <slot name='icon-after' />
</Tag>
